/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border: 5px solid blue;
    padding: 5px;
    margin: 5px;
    width: 25%;
    position: fixed;   
    bottom: 5px;
    right: 5px; 
}

#two {
    border: 5px solid green;
    padding: 5px;
    margin: 5px;
    width: 25%;
    position: fixed;
    top: 5px;
    right: 5px;
}

#three {
    border: 5px solid orange;
    padding: 5px;
    width: 25%;
    position: fixed;
    top: 5px;
    left: 5px;
}

#four {
    border: 5px solid yellow;
    padding: 5px;
    margin: 5px;   
    width: 25%;
    position: fixed;
    bottom: 5px;
    left: 5px;
}

#link {
    /*position: fixed;
    top: 0;
    left:50%;*/
    text-align: center;
}

a {
	color: #fefefe;
	text-decoration: none;
	display: inline-block;
	background: #334CAD;

}